:root{
    --cor-de-fundo:#ffffff;
}

body{
    background-color:var(--cor-de-fundo);
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

img {
    width: 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Maltaca Store */



.introducao{
    display: flex;
    font-weight: 800;
}

.cr {
    display: flex;
}
#equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.ggg{
    width: 30%;
}
.gg{
    width: 40%;
}

.introducao{    margin: 20px 0 0 0;
    background-color: light_gray;
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;

}
.divisoes{
    
}