:root{
    --cor-de-fundo:#ffffff;
    --cor-de-fundo2:#EDE9E9;
}

body{
    background-color:var(--cor-de-fundo);
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

img {
    width: 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

/* Maltaca Store */

.cr {
    display: flex;
}
#equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.ggg{
    width: 30%;
}
.gg{
    width: 40%;
}

.introducao{   
     margin: 20px 0 0 0;
    background-color: var(--cor-de-fundo2);
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;

}

.prod{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.produ{
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
}
.produtos{
    display: flex;
    width: 150%;
    background-color: #C9C7C7;
    box-shadow: -20px -20px 0px 0px #D1CECE;
    margin: 45px;
    
}
.divisoes{
    
}